.description {
    padding: 10px;
}

.description__product-name {
  font-weight: bold;
}

.description__price {
  padding-top: 5px;

  & strong {
    font-size: 1.6rem;
    font-weight: bolder;
  }
}
